:root {
    --bg-color: #12161f;
    --panel-bg: #1a202c;
    --accent-gold: #d4af37;
    --text-main: #ffffff;
    --btn-inactive: #2d3748;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    overflow-y: auto; /* Дозволяємо прокрутку сторінки */
}

.constructor-container {
    display: flex;
    height: 100vh;
}

.visual-block {
    flex: 1;
    background: radial-gradient(circle, #2a3447 0%, #12161f 100%);
    position: relative;
}

model-viewer {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.menu-block {
    width: 450px;
    background-color: var(--panel-bg);
    padding: 25px;
    overflow-y: auto;
}

/* Адаптивність для смартфонів */
@media (max-width: 768px) {
    .constructor-container { 
        flex-direction: column; 
        height: auto; 
    }
    
    .visual-block { 
        height: 400px; 
        width: 100%;
        /* Додаємо легку тінь під моделлю */
        box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    }

    model-viewer {
        height: 400px; 
        width: 100%;
    }

    .menu-block { 
        width: 100%; 
        padding: 20px;
        box-sizing: border-box;
        
        /* Ось те саме "антиприлепання" */
        margin-top: 20px; 
        border-top: 3px solid var(--accent-gold);
        border-radius: 20px 20px 0 0;
        background-color: var(--panel-bg);
    }
    
    #menu-toggle { display: none !important; }
}
